<section class="content--full">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <div class="btn-margin">
          <div class="btn btn-sm">
            <select class="custom-select-sm" style="width: 150px;"
                    [(ngModel)]="datasource"
                    (change)="handlerCheckStatus()">
              <option *ngFor="let detail of datasources" [disabled]="!detail.status"
                      value="{{detail.alias}}">{{detail.alias}}  -->  {{detail.host}}</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary btn-sm"
                  [disabled]="disabledButton.execute"
                  (click)="handlerExecute()">
            <i class="fa fa-{{loading.button ? 'spinner fa-spin' : 'flash'}}"></i> {{ 'common.execute' | translate }}
          </button>
          <button type="button" class="btn btn-primary btn-sm"
                  [disabled]="disabledButton.execute"
                  (click)="handlerSelectionExecute()">
            <i class="fa fa-flask"></i> {{ 'common.select' | translate }} {{ 'common.execute' | translate }}
          </button>
          <button type="button" class="btn btn-outline-primary btn-sm"
                  [disabled]="disabledButton.execute"
                  (click)="handlerFormatter()">
            <i class="fa fa-code"></i> {{ 'common.format' | translate }}
          </button>
        </div>
      </div>
      <div class="card-body">
        <ngx-codemirror #codeEditor [options]="editorConfig"></ngx-codemirror>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="responseTableData">
    <div class="card-body">
      <div class="card-title">
        <button class="btn btn-link" disabled>
          {{'common.result' | translate}}
        </button>
      </div>
      <div class="card-body__title">
      </div>
      <app-directive-bootstrap-table
        [headers]="responseTableData.headers"
        [columns]="responseTableData.columns"
        [statistics]="responseTableData.statistics">
      </app-directive-bootstrap-table>
    </div>
  </div>
</section>
