<ng-container *ngIf="!isCreateTable(); else createTable">
  <nz-card [nzTitle]="titleTemplate" [nzLoading]="loading.tableContainer">
    <div style="margin-top: 4px;">
      <nz-table #tableContainer nzSize="small" [nzData]="applyResultColumns">
        <thead>
        <tr>
          <th></th>
          <th>{{'table.tableName'|translate}}</th>
          <th>{{'table.tableTotalRows'|translate}}</th>
          <th>{{'table.tableTotalSize'|translate}}</th>
          <th>{{'table.tableEngine'|translate}}</th>
          <th>{{'table.tableModificationTime'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of tableContainer.data">
          <td [nzChecked]="applySelectTable.checkedTables.has(data['tableName'])"
              (nzCheckedChange)="handlerTableChecked(data['tableName'], $event)"></td>
          <td nzEllipsis>{{data['tableName']}}</td>
          <td>{{data['tableTotalRows']}}</td>
          <td>{{data['tableTotalSize']}}</td>
          <td>{{data['tableEngine']}}</td>
          <td>{{data['tableModificationTime']}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>

  <ng-template #titleTemplate>
    <button nz-button nzSize="small" nzType="text"
            nz-tooltip nzTooltipTitle="{{'common.new'|translate}}{{'common.table'|translate}}"
            (click)="handlerNewTable()">
      <i nz-icon nzType="plus-circle" class="action-button-success"></i>
    </button>
    <button nz-button nzSize="small" nzType="text" [disabled]="applySelectTable.checkedTables.size <= 0"
            nz-tooltip nzTooltipTitle="{{'common.delete'|translate}}{{'common.table'|translate}}"
            (click)="handlerApplyDeleteTable()">
      <span nz-icon nzType="minus-circle" class="action-button-danger"></span>
      <span *ngIf="applySelectTable.checkedTables.size > 0">({{applySelectTable.checkedTables.size}})</span>
    </button>
  </ng-template>
</ng-container>

<ng-template #createTable>
  <object-designer-layout-content-create-table [applyData]="applyData">
  </object-designer-layout-content-create-table>
</ng-template>

<nz-modal [(nzVisible)]="deleteTable.visible" nzTitle="{{'common.delete'|translate}}{{'common.table'|translate}}"
          (nzOnCancel)="handlerCancelDeleteTable()">
  <div center *nzModalContent>
    <p>Are you sure you want to delete "{{applyData.table}}"?</p>
  </div>
  <div *nzModalFooter>
    <button nz-button nzDanger nzType="primary" (click)="handlerDeleteTable()"
            [nzLoading]="deleteTable.loading">
      {{'common.delete'|translate}}
    </button>
  </div>
</nz-modal>
