<nz-header nzTheme="light" class="layout">
  <div class="logo">
    <h1>
      <a [routerLink]="['/']">DBM</a>
    </h1>
  </div>
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item>
      <a class="nav-link" [routerLink]="['/query']">
        <i class="fa fa-search"> {{ 'common.query' | translate }}</i>
      </a>
    </li>
    <li nz-submenu nzTitle="{{ 'common.management' | translate }}">
      <ul>
        <li nz-menu-item>
          <a [routerLink]="['/management/datasource']" class="dropdown-item">
            <i class="fa fa-dashcube"> {{ 'common.datasource' | translate }}</i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nz-header>
