<app-component-datasource-clickhouse [configure]="configure" (emitterValue)="handlerEmitterValue($event)"
                                     *ngIf="configure.type === datasourceType.clickhosue">
</app-component-datasource-clickhouse>
<app-component-datasource-trino [configure]="configure" (emitterValue)="handlerEmitterValue($event)"
                                *ngIf="configure.type === datasourceType.trino || configure.type === datasourceType.presto">
</app-component-datasource-trino>
<app-component-datasource-mysql [configure]="configure" (emitterValue)="handlerEmitterValue($event)"
                                *ngIf="configure.type === datasourceType.mysql">
</app-component-datasource-mysql>
<app-component-datasource-postgresql [configure]="configure" (emitterValue)="handlerEmitterValue($event)"
                                     *ngIf="configure.type === datasourceType.postgresql">
</app-component-datasource-postgresql>
<app-component-datasource-druid [configure]="configure" (emitterValue)="handlerEmitterValue($event)"
                                *ngIf="configure.type === datasourceType.druid">
</app-component-datasource-druid>
