.ant-layout-header {
  background: #fff;
}

.ant-layout-content {
  background-color: #ffffff;
  padding: 5px 0 0 5px;
  margin-top: -10px;
}

:host ::ng-deep .ant-card-small > .ant-card-head {
  padding: 0;
}

:host ::ng-deep .ant-card-small > .ant-card-body {
  padding: 0;
}

:host ::ng-deep .ant-divider-horizontal {
  margin: 0;
}

:host ::ng-deep .inner-layout {
  padding: 1px;
}

:host ::ng-deep .ant-layout {
  background: #ffffff;
}

:host ::ng-deep .ant-tree {
  border-radius: 0px;
  border-right: 1px solid rgba(0,0,0,.06);
}
