<nz-card [nzTitle]="containerTitle" [nzExtra]="extraTemplate">
  <nz-layout style="width: {{applyData.width}}px; height: {{applyData.height}}px;">
    <nz-sider nzWidth="200px" nzTheme="light">
      <nz-divider></nz-divider>
      <nz-spin nzSimple *ngIf="loading.database; else loadingDatabaseSuccessful" nzSize="small"
               style="margin: 10px"></nz-spin>
      <ng-template #loadingDatabaseSuccessful>
        <nz-tree nzShowLine [nzData]="applyDataForArray.databases" nzBlockNode nzAsyncData
                 (nzExpandChange)="handlerNodeLoad($event)" [nzTreeTemplate]="nzTreeTemplate"
                 (nzClick)="handlerNodeClick($event)" nzVirtualHeight="{{applyData.height}}px">
          <ng-template #nzTreeTemplate let-node let-origin="origin">
            <i nz-dropdown nzTrigger="click" class="fa fa-{{handlerApplyIcon(origin.type)}}">&nbsp;{{origin.title}}&nbsp;</i>
          </ng-template>
        </nz-tree>
      </ng-template>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-divider></nz-divider>
      <object-designer-layout-content *ngIf="applyData.reload" [applyData]="applyData"
                                      [applyColumns]="applyColumns" (emitter)="handlerEmitterColumns($event)">
      </object-designer-layout-content>
    </nz-layout>
  </nz-layout>
</nz-card>

<ng-template #containerTitle>
  <object-designer-layout-header [applyData]="applyData" (emitter)="handlerDataSource($event)"
                                 [applyColumns]="applyColumns"
                                 (emitterColumns)="handlerEmitterColumns($event)">
  </object-designer-layout-header>
</ng-template>

<ng-template #extraTemplate>

</ng-template>

