<nz-card [nzTitle]="titleTemplate">
  <nz-empty *ngIf="columns?.length <= 0; else notHasValues"
            [nzNotFoundContent]="contentTemplate"
            [nzNotFoundFooter]="footerTemplate">
    <ng-template #contentTemplate>
      <button nz-button nzType="primary" (click)="handlerShowCreateSnippet(actionComponent.create)">
        {{'common.add'|translate}}
      </button>
    </ng-template>
    <ng-template #footerTemplate>
    </ng-template>
  </nz-empty>
  <ng-template #notHasValues>
    <ngx-table [data]="columns" [configuration]="configuration" [columns]="headers">
      <ng-template let-row>
        <td>{{row.id}}</td>
        <td>
          <em nz-typography nzEllipsis nzCopyable [nzEllipsisRows]="1" nzCopyText="{{row.name}}">{{row.name}}</em>
        </td>
        <td>
          <em nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="1">{{row.description}}</em>
        </td>
        <td>
          <button nz-button nzType="link" nz-tooltip nzTooltipTitle="{{'common.ddl'|translate}}"
                  (click)="handlerShowModal(row)">
            <i class="fa fa-eye"></i>
          </button>
        </td>
        <td>
          <p nz-typography>{{row.created|amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</p>
        </td>
        <td>
          <p nz-typography>{{row.updated|amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</p>
        </td>
      </ng-template>
    </ngx-table>
  </ng-template>
</nz-card>
<ng-template #titleTemplate>
  <button nz-button nzType="primary" (click)="handlerShowCreateSnippet(actionComponent.create)">
    <i class="fa fa-plus-circle"></i>
  </button>
</ng-template>
<app-component-create-snippet *ngIf="dialog.create" [visible]="dialog.create" [action]="action"
                              (emitter)="handlerCloseCreateSnippet($event)">
</app-component-create-snippet>
<app-component-ddl-query *ngIf="dialog.select" [visible]="dialog.select" [text]="selectRow.code"
                         (emitter)="handlerCloseModal()">
</app-component-ddl-query>

