<nz-form-item *ngIf="experimental">
  <nz-form-control [nzSm]="24" [nzXs]="24">
    <nz-alert nzType="warning" nzMessage="{{'tooltip.experimental'|translate}}"></nz-alert>
  </nz-form-control>
</nz-form-item>
<nz-form-item *ngFor="let item of properties; let i = index">
  <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="item.required" nzTooltipTitle="{{item.tooltip|translate}}">
    {{item.label|translate}}
  </nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24">
    <input nz-input (change)="handlerValidate()" [(ngModel)]="modelValues[i]"
      placeholder="{{item.placeholder|translate}}" />
  </nz-form-control>
</nz-form-item>