@import '~codemirror/lib/codemirror';
@import "~font-awesome/scss/font-awesome";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "editor.theme";
@import "color";

[nz-button] {
  margin-right: 8px;
}

.table-body-flex {
  overflow: hidden;
}

.ant-avatar>img {
  width: 85%;
  height: 85%;
  display: unset;
  object-fit: cover;
}
